<!--The content below is only a placeholder and can be replaced.-->
<div style="text-align:center">
  <h1>
    I bims der Hangman.
  </h1>
</div>

<div *ngIf="isInPreparation()">
  <label for="player1-input">Spieler 1: Gib hier dein Wort ein:</label>
  <br>
  <input #textbox (keyup.enter)="submit(textbox.value)" (keypress)="filterChars($event)" id="player1-input">
  <button (click)="submit(textbox.value)">Fertig</button>
</div>

<div *ngIf="isWinner()">
  <h1>DU HAST GEWONNEN</h1>
</div>

<div *ngIf="isLoser()">
  <h1>DU HAST VERLOREN! DU LOSER!</h1>
</div>

<div *ngIf="isInGame() || isWinner() || isLoser()">
  <p>Spieler 2: Versuche zu lösen.</p>
  <h2 *ngIf="isInGame() || isWinner()">
    <span *ngFor="let letter of wordToGuess.split(''); let i = index">{{ this.getLetterAt(i) }} </span>
  </h2>
  <h2 *ngIf="isLoser()">
    <span [style.color]="this.isGuessedCorrectly(letter) ? 'black' : 'red'" *ngFor="let letter of wordToGuess.split('')">{{ letter }} </span>
  </h2>
  <div *ngIf="wrongGuessedLetters.length > 0">
    <p>Fehlerhafte Eingaben:</p>
    <h2>
      <span *ngFor="let letter of wrongGuessedLetters">{{ letter }} </span>
    </h2>
  </div>
</div>

<div *ngIf="isInPreparation() || isInGame()">
    <p>Erlaubt sind: [A-Za-zÄäÖöÜüß]</p>
</div>

<img src="{{ this.currentImage }}">
